/*NAVIGATION*/
.Quick-navigation {
	position: fixed;
	z-index: 1;
	margin: 0;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.Quick-navigation-item {
	color: rgba(0,0,0,0.4);
	text-decoration: none;
	font-size: 1.3em;
	transition: color 0.3s;
	padding: 0.5em;
	display: block;
}

.Quick-navigation-item:hover, .Quick-navigation-item.current {
	color: #fff;
}

.Scroll-progress-indicator {
	will-change: opacity, transform;
	transition: all 0.5s;
	left: -10px;
	border-radius: 2px;
	position: absolute;
	top: 50%;
	opacity: 0;
	padding: 2em;
	transform: translateX(200%) translateY(-50%);
	background-color: rgba(0,0,0,0.1);
}

.Scroll-progress-indicator.visible {
	transform: translateX(-100%) translateY(-50%);
	opacity: 1;
}

.Scroll-to-top {
	position: fixed;
	right: 20px;
	bottom: 0;
	background-color: rgba(0,0,0,0.2);
	border: none;
	color: rgba(255,255,255,0.5);
	font-size: 1.5rem;
	padding: 0.5em;
	cursor: pointer;
	opacity: 0;
	transform: translateY(100%);
	transition: all 0.3s;
	outline: none;
}

.Scroll-to-top.visible {
	opacity: 1;
	transform: translateY(0);
}

.Scroll-to-top:hover {
	color: rgba(255,255,255,0.9);
}


/*END NAVIGATION*/

/*LANDING COVER*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600,700);
* {
  font-family: "Open Sans";
  box-sizing: border-box;
  text-align: center;
  color: #fff;
}

/*html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}*/

figure {
  margin: 0;
  position: relative;
}

video {
  width: 100%;
  max-width: 100%;
}

.hero-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  z-index: -99;
}

.scroll-down {
  text-align: center;
  padding-top: 8%;
  /*padding-bottom: 1%;*/
}

/*END LANDING COVER*/

/*ABOUT ME SECTION START*/
.about-me-div {
  height: 100%;
  background: #FFAF33;
  min-width: 100%;
  background-size: cover;
}

.main-heading {
  text-align: center;
  padding-top: 50px;
}

.about-me-heading {
  padding-top: 20%;
}

@media (min-width: 768px) {
  .about-me-div {
    min-height: 800px;
  }
}

.me {
  max-width: 200px;
  border-radius: 100%;
  border: 2px solid white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 30px;
}

.about-me {
  text-align: center;
}

.interests {
  text-align: center;
}

.interest-icons {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 40px;
}
/*END ABOUT ME SECTION*/

/* EXPERIENCE SECTION*/
.experience-div {
  height: 100%;
  background: #3383ff;
  background-size: cover;
}
/*.experience-list {
  text-align: center;
}*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
  background: #3383ff;
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #F45B69;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #F45B69 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #F45B69;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #F45B69;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #F45B69 transparent transparent;
  }
}
/* END EXPERIENCE SECTION*/

/*SKILLS SECTION*/
.skills-div {
  height: 100%;
  background: tomato;
  min-width: 100%;
  background-size: cover;
}
@media (min-width: 768px) {
  .skills-div {
    min-height: 800px;
  }
}
.skills-heading {
  text-align: center;
  padding-top: 25%;
}

.font-mfizz {
  font-size: 5em;
}
/*END SKILLS SECTION*/

/*PORTFOLIO SECTION*/
.works-div {
  height: 100%;
  background: #34A853;
  min-width: 100%;
  background-size: cover;
}
@media (min-width: 768px) {
  .works-div {
    min-height: 800px;
  }
}
.works-heading {
  padding-top: 25%;
}
/*.size {
  max-width: 100%;
  height: auto;
  /*display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}*/

/*END PORTFOLIO SECTION*/

/*CONTACT ME SECTION*/
.contact-me-div {
  height: 100%;
  background: #FFAF33;
  min-width: 100%;
  background-size: cover;
}
@media (min-width: 768px) {
  .contact-me-div {
    min-height: 800px;
  }
}
.contact-heading {
  padding-top: 25%;
}
.contact-me-icons {
  text-align: center;
}

.social-media-icons i {
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
}

.social-media-icons i{
  color: white;
}

.social-media-icons i:hover {
  color: black;
}

.social-media-icons i:visited {
  color: white;
}
/*END CONTACT ME SECTION*/

/* PACMAN SECTION */

/*body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
} */

/*.pacman {
  margin: 0 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pacman:first-child {
  margin-left: 0;
  margin-right: 45px;
}

.pacman:last-child {
  margin-right: 0;
}*/
